.table{
    display: inline-block;
    height: 32px;
    width: 660px;
    border: 1px solid black;
}
th{ 
    display: inline-block;
    margin: 5px 30px;
    width: 150px;
    text-align: left;
}
td{
    display: inline-block;
    margin: 5px 30px;
    width: 150px;
}
h1{
    border-bottom: 2px solid darkgray;
    width: 340px;
}
.myform{
    display: block;
    width: 237px;
}
form{
    text-align: right;
}
input{
    margin: 5px;
}
button{
    margin: 5px 6px 20px 150px;
}